<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.w3.org/1999/xhtml"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/76ca474687.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<!--    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/assets/css/card.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

</head>

<body>

<div class='own-navbar'>
    <div class="logo">
        <a href="#">BookClub</a>
    </div>

    <div class="input-group search">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class='fas fa-search'></i></span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" id="searchBook">
    </div>

    <div class="input-group logout">
        <a href="/logout" sec:authorize="hasRole('ROLE_USER')" class="btn btn-danger">Chiqish <i class="fas fa-sign-out-alt"></i></a>
    </div>

    <div class="toggler" onclick="toggler()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>


<div class="wrapper">
    <div class="menu">
        <ul>

            <li><label style="color:red;" id="checkAddress"></label>
                <button sec:authorize="hasRole('ROLE_USER')" class='btn btn-outline-secondary mb-2' data-toggle="modal"
                        id="addAddress" data-target="#addAddressModal" >Mening manzilim <i class="fas fa-home"></i></button>
            </li>
            <li><button sec:authorize="hasRole('ROLE_USER')" class='btn btn-outline-secondary mb-2'
                        id="addBookButton" onclick="checkAddressExist()">Kitob
                qo'shish <i class=" fas fa-plus"></i></button>
            </li>
            <li>
                <a th:href="@{/}"sec:authorize="hasRole('ROLE_USER')" class='btn btn-outline-secondary mb-2' style="padding-left: 32px
;padding-right: 32px;background: #fff;" id="getAllBooks" onmouseover="this.style.backgroundColor='#6C757D';" onmouseout="this.style.backgroundColor='#fff'">Hamma kitoblar <i
                        class="fas fa-list-ol"></i></a> </li>
            <li><button sec:authorize="hasRole('ROLE_USER')" class='btn btn-outline-secondary mb-2' id="getMyBooks">Mening kitoblarim <i
                    class="fas fa-list-ol"></i></button></li>
            <li>
                <a href="/auth/sign/up" sec:authorize="isAnonymous()" class='btn btn-outline-secondary mb-2' style="padding-left: 30px;
                padding-right: 30px;background: #fff;"onmouseover="this.style.backgroundColor='#6C757D';" onmouseout="this.style.backgroundColor='#fff'">
                    Royhatdan o'tish <i class="fas fa-sign-out-alt"></i></a> </li>

        </ul>
    </div>
    <div class="card-container " >
<!--        <div id="myBooks" >-->
        <div id="defaultAllBooks" style="display:contents">
                    <div th:each="book:${bookPage}" class="card" >

                            <div class="img" >
                                <img th:src="|data:image/png;base64,${book.picture}|" alt='' />

                            </div>

                            <div class="content" >
                            <p class="title" style="text-transform: uppercase" th:text="${book.name}"></p>
                        <h5 class="copy"  th:text="'Tel: +'+${book.username}"></h5>
                        <h5 class="copy" style="text-transform: capitalize" th:text="'Yozuvchi: '+${book.author}"></h5>
                        <h5 class="copy" th:text="'Izoh:' + ${book.comment}"></h5>
                        <h5 class="copy" th:text="'Til: '+${book.language}"></h5>
                        <h5 class="copy" th:text="'Manzil: ' +${book.district} + '  ' +${book.region}"></h5>
<!--                         ${book.comment}+${book.language}+${book.district}+${book.region}"></p>-->
<!--                        <p class="title" th:text="${book.name}"></p>-->
<!--                                -->
<!--                        <h5 class="copy" th:text="'Telefon raqam:+'+ ${book.username}"></h5>-->
<!--                        <h5 class="copy" th:text="'Yozuvchi:'+${book.author}"></h5>-->
<!--                        <h5 class="copy" th:text="'Izoh:' + ${book.comment}"></h5>-->
<!--                        <h5 class="copy" th:text="'Til:' + ${book.langauge}"></h5>-->
<!--                        <h5 class="copy" th:text="'Manzil:' + ${book.distrct}"></h5>-->
<!--                        <h5 class="copy" th:text="${book.region}"></h5>-->
                    </div>

                </div>
        </div>

        <div id="myBooks" >

        </div>
<!--        <div class="" layout:fragment="main">-->
<!--        </div>-->
<!--        <div id="allBooks">-->
<!--        </div>-->

        <div id="mySearchedBooks" >
        </div>

    </div>

</div>

<div class="modal fade" id="addBook" role="dialog" tabindex="-1" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Add book content-->
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-3 md-form">
                            <label for="name">Kitob nomi:</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="" value=""
                                   required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 md-form">
                            <label for="author">Yozuvchi:</label>
                            <input type="text" name="author" class="form-control" id="author" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 md-form">
                            <label for="language">Tilni tanlang:</label>
                            <select id="language" name="language" class="form-control" aria-describedby="inputGroupPrepend2" required>
                                <option value="0">O'zbek</option>d
                                <option value="1">Rus</option>
                                <option value="2">Kiril</option>
                                <option value="3">English</option>
                                <option value="4">Boshqa</option>
                            </select>
                            <div class="invalid-feedback">
<!--                                Please choose a username.-->
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3 md-form">
                            <label for="comment">Kitob haqida izoh:</label>
                            <textarea name="comment" type="text" id="comment"  class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                Iltimos izoh ham kiriting!
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3 md-form">
                            <label for="picture">Rasm:</label>
                            <input type="file" class="" name="picture" value="tanlash" id="picture" required>
                            <div class="invalid-feedback">
                                Iltimos rasm tanlang!
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-sm btn-rounded" id="addMyBook" type="submit">Saqlash</button>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default btn btn-danger" data-dismiss="modal" id="modalButton1">Yopish</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="addAddressModal" role="dialog">
    <div class="modal-dialog">

        <!--                                add address-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <form id="addAddressForm" class="form-signin" method="post">

                    <div class="form-label-group">
                        <select id="region" name="regions" class="form-control"
                                required>
                            <option value="0">Viloyat:</option>
                        </select>
                    </div>
                    <p></p>
                    <div class="form-label-group">
                        <select id="district" name="districts" class="form-control"
                                required>
                            <option value="0">Tuman:</option>
                        </select>
                    </div>
                    <p></p>
                    <input class="btn btn-success" type="submit" id="address" value="Submit" data-dismiss="modal" placeholder="Save">

                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default btn btn-danger" data-dismiss="modal" >Yopish</button>
            </div>
        </div>

    </div>
</div>


<!--                    delete my book-->
<!-- Modal -->
<div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kitobni o`chirish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Siz haqiqatan ham kitobni o'chirmoqchimisiz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Yo'q</button>
                <button type="button" id="deleteBook" data-dismiss="modal" class="btn btn-primary">Ha</button>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer font-small blue" style="margin-left: 49%;">
<!--    text-center py-3-->
    <!-- Copyright -->

            <ul class="pagination pg-blue" style="">
                <li th:each="pageNumber:${numbers}" class="page-item"
                    th:class="${pageNumber == bookPage.number} ? active">
                    <a class="page-link" th:href="@{'/?page='+${pageNumber}}" th:text="${pageNumber+1}"></a>
                </li>
            </ul>

    <!-- Copyright -->

</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script th:src="@{/assets/js/script.js}"></script>
<script th:src="@{/assets/js/regions.js}"></script>
<!--<script th:src="@{/assets/js/main.js}"></script>-->
<script th:src="@{/assets/js/controljs.js}"></script>
<script th:src="@{/assets/js/jQuery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script>

</script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
</body>

</html>